{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{ if (not (eq .Layout "archives")) }}
  {{ with .Params.author }} ... {{ end }}
{{ end }}

<!--
  config.toml의 설명과 매칭하여 taxonomy 라벨/값을 자동 출력
  (글의 front matter에서 값이 있으면 출력)
-->
  
{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
  <span style="margin-left:0.5em;">&nbsp;</span>
{{- end -}}

{{ $taxonomies := dict
    "thought_facets"  "Thought Facet"
    "ratings"         "Rating"
    "asset_classes"   "Asset Class"
    "actions"         "Action"
    "recommendations" "Recommendation"
    "event_types"     "Event Type"
    "trading_tools"   "Trading Tool"
    "regions"         "Region"
    "thought_facets"  "Thought Facet"
    "thoughts"        "Thought"
    "judgments"       "Judgment"
    "structures"      "Structure"
    "studies"         "Study"
    "qualifications"  "Qualification"
    "themes"          "Theme"
    "work_types"      "Work Type"
    "tools"           "Tool"
    "skills"          "Skills"
    "class_types"     "Class"
    "hierarchy_types" "Hierarchy"
}}
{{ range $k, $v := $taxonomies }}
  {{ $val := index $.Params $k }}
  {{ with $val }}
    [{{ $v }}: {{ delimit $val ", " }}]
  {{ end }}

<!-- 끝 -->




{{ end }}
