{{ define "main" }}
  <main>
    <!-- 1. 상단 소개글 (_index.md 내용) -->
    <section class="section-intro">
      {{ .Content }}
    </section>

    <!-- 2. taxonomy(서브카테고리) 리스트 -->
    <section class="section-taxonomies">
      <h2>Subcategories</h2>
      <ul>
        {{ range $key, $value := site.Taxonomies.actions }}
          <li>
            <a href="{{ $value.Page.RelPermalink }}">{{ $key }}</a> ({{ len $value.Pages }})
          </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}
